<form 
  [formGroup]="form" 
  (ngSubmit)="form.valid && send()"
>
  <p>
    <label>
      <span>From (name): </span>
      <input type="text" formControlName="fromName">
    </label>
  </p>
  
  <p>
    <label>
      <span>From (email): </span>
      <input type="email" formControlName="fromEmail">
    </label>
  </p>
  
  <p>
    <label>
      <span>To (email): </span>
      <input type="email" formControlName="to">
    </label>
  </p>
  
  <p>
    <label>
      <span>Subject: </span>
      <input type="text" formControlName="subject">
    </label>
  </p>
  
  <p>
    <label>
      <span>Wiadomość (treść): </span>
      <textarea formControlName="text"></textarea>
    </label>
  </p>
  
  <p>
    <label>
      <span>Wiadomość (html): </span>
      <textarea formControlName="html"></textarea>
    </label>
  </p>
  
  <p>
    <label>
      <span>SMTP host: </span>
      <input type="text" formControlName="smtpHost">
    </label>
  </p>
  
  <p>
    <label>
      <span>SMTP port: </span>
      <input type="number" formControlName="smtpPort">
    </label>
  </p>
  
  <p>
    <label>
      <span>SMTP secure: </span>
      <input type="checkbox" formControlName="smtpSecure">
    </label>
  </p>
  
  <p>
    <label>
      <span>SMTP auth user (email): </span>
      <input type="text" formControlName="smtpAuthUser">
    </label>
  </p>
  
  <p>
    <label>
      <span>SMTP auth password: </span>
      <input type="password" formControlName="smtpAuthPass">
    </label>
  </p>
  
  <button 
    [disabled]="form.invalid"
  >Send</button>
</form>

<pre style="background-color: #ddd; overflow-x: auto;">
  {{ output }}
</pre>